server                      
{
    host    = 0.0.0.1
    port = 8080
    error_page = 404/404.html;
    server_name = 0.com;

    client_max_body_size = 5M;
    #hello
}


server                      
{
    host    = 0.0.0.1
    port = 8088
    error_page = 404/404.html;
    server_name = 1.com;

    client_max_body_size = 5M;
    #hello

}


server                      
{
    host    = 0.0.0.2
    port = 8082
    error_page = 404/404.html;
    server_name = 2.com;

    client_max_body_size = 5M;
    #hello
}

server                      
{
    host    = 0.0.0.2
    port = 8083
    error_page = 404/404.html;
    server_name = 2.com;

    client_max_body_size = 5M;
    #hello
}

server                      
{
    host    = 0.0.0.2
    port = 8084
    error_page = 404/404.html;
    server_name = 2.com;

    client_max_body_size = 5M;
    #hello
}
server                      
{
    host    = 0.0.0.2
    port = 8085
    error_page = 404/404.html;
    server_name = 2.com;

    client_max_body_size = 5M;
    #hello
}