server 
{
    host = 0.0.0.0
    port = 443
    server_name = google.com;

    client_max_body_size = 5M;

    #dgklfjsdfjglkdsfjgl;sd;


    error_page 404 /404.html;
    #hello
    route /images {
        methods = GET;
        root = /var/www/images;
    }

    route /  {
        methods = GET;
        root = /var/www/images;
    }

    route /upload {
        methods = POST;
        root = /var/www/uploads;
    }

    route /upload/ {
        methods = POST;
        root = /var/www/uploads;
    }

    route /upload/test {
        methods = POST;
        root = /var/www/uploads;
    }
}


