server {
    host = 0.0.0.0
    port = 8080
    server_name = mysite.com;

    client_max_body_size = 5M;
    error_page 404 /404.html;

    route /images {
        methods = GET;
        root = /var/www/images;
    }

    route /upload {
        methods = POST;
        root = /var/www/uploads;
    }
}