server                      

{
    host    = 0.0.0.0
    port = 443
    error_page = 404/404.html;
    server_name = youtube.com;

    client_max_body_size = 5M;
    #hello
    route /images 
    {
        methods = GET;
        root = /var/www/images;
        index = index.html
        upload  = on /tmp;
        cgi = on
    }

    route /upload {
        methods = POST;
        root = /var/www/uploads;
    }
}

server                      

{
    host    = 0.0.0.0
    port = 443
    error_page = 404/404.html;
    server_name = youtube.com;

    client_max_body_size = 5M;
    #hello
    route /images 
    {
        methods = GET;
        root = /var/www/images;
        index = index.html
        upload  = on /tmp;
        cgi = on
    }

    route /upload {
        methods = POST;
        root = /var/www/uploads;
    }
}
